@charset "utf-8";
body,input {
	margin:0px;
	padding:0px;
	font-family:"Microsoft Yahei";
}
ul,li {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
img {
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
}
a {
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}.zhushou_width {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.zhushou_top {
	float: left;
	width: 100%;
}
.zhushou_header {
	height: 95px;
}
.zhushou_logo {
	float: left;
	margin-top: 18px;
}
.zhushou_nav {
	float: right;
}
.zhushou_nav   li  {
	float: left;
	line-height: 93px;
	margin-left: 30px;
}
.zhushou_nav li a {
	text-decoration: none;
	color: #5B5B5B;
	font-size: 16px;
	height: 93px;
	float: left;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;
}
.zhushou_nav  li:hover a{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fe7b40;
	color: #fe7b40;
}
.zhushou_nav li.current a {
	color: #fe7b40;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fe7b40;
}
.zhushou_banner {
	background-color: #ff5e56;
	height: 570px;
	width: 100%;
	float: left;
}
.zhushou_banner .banner_width {
	width: 1336px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.zhushou_banner  .zhushou_note_title {
	background-image: url(../img/zhushou_banner_note.png);
	background-repeat: no-repeat;
	width: 710px;
	height: 34px;
	margin-top: 10px;
	margin-left: 20px;
}
.zhushou_banner_list {
	height: 410px;
	width: 800px;
	text-align: center;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.zhushou_banner_img {
	border-radius: 10px;
	border: 10px solid #FFFFFF;
	background-color: #FFFFFF;
	height: 410px;
	width: 790px;
}

.zhushou_banner_title {
	background-image: url(../img/zhushou_banner_note_bg.png);
	background-repeat: no-repeat;
	height: 55px;
	width: 819px;
	text-align: left;
	text-indent: 40px;
	margin-top: 15px;
	line-height: 55px;
	font-size: 16px;
	color: #FFFFFF;
}
.zhushou_banner_right {
	float: right;
	height: 475px;
	width: 486px;
}
.zhushou_banner_mall {
	-webkit-animation: rotate 20s linear infinite;
	-moz-animation: rotate 20s linear infinite;
	-o-animation: rotate 20s linear infinite;
	animation: rotate 20s linear infinite;
}

/*@-webkit-keyframes 
rotate{from{-webkit-transform: rotate(0deg)}
to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
to{transform: rotate(359deg)}
}*/
.zhushou_banner_diannao {
	background-image: url(../img/zhushou_banner_diannao.png);
	background-repeat: no-repeat;
	height: 239px;
	width: 281px;
	float: left;
	position: absolute;
    margin-top: -350px;
    margin-left: 100px;
}
.zhushou_down {
	margin-top: 60px;
    margin-left: 45px;
}
.zhushou_down_note {
	font-size: 12px;
	line-height: 30px;
	color: #666666;
	margin-top: 10px;
	text-indent: 10px;
	width: 190px;
}
.zhushou_down_note span {
	color: #ff5e56;
}
.zhushou_down_note i {
	font-style: normal;
	float: right;
}

/* Hover Shadow */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

.hover-shadow {
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	outline: none;
}
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
/*.hover-shadow:focus,*/
.hover-shadow:hover, .hover-shadow:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.hover-shadow:hover:before,.hover-shadow:active:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.focusBox { position: relative; width:800px; height:480px;  }	
.focusBox .pic{ position:relative; z-index:0; }	
.focusBox .pic img {
	max-width:790px;
	height:410px;
	display: block;
}		
.focusBox .prev,.focusBox .next {
	width: 30px;
	height: 45px;
	display: none;
	background: url(../img/ad_ctr.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	filter:alpha(opacity=20);
	opacity:0.2;
	margin-top: -50px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	outline: none;
}	
.focusBox .prev {
	left: 0;
}	
.focusBox .next {
	background-position: 0 -45px;
	right: -10px;
}	
.focusBox .prev:hover,.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }
.zhushou_content {
	width: 100%;
	float: left;
}
.zhushou_slide {
	float: left;
	margin-top: 50px;
	width: 1200px;
	margin-bottom: 30px;
}
.zhushou_slide_text {
	margin-top: 150px;
}
.zhushou_slide_text p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.zhushou_slide_text span {
	font-size: 14px;
	color: #666666;
	line-height: 25px;
	margin-left: 60px;
	float: left;
}

.zhushou_slide .left {
	float: left;
}
.zhushou_slide .right {
	float: right;
}
.zhushou_slide .slide_01 {
	width: 460px;
}
.zhushou_slide .slide_02 {
	width: 470px;
}
.zhushou_slide .slide_03 {
	width: 440px;
}
.zhushou_slide .slide_04 {
	width: 400px;
}
.zhushou_down_content {
	background-color: #f6f6f6;
	float: left;
	width: 100%;
	margin-top: 30px;
	padding-top: 30px;
}
.zhushou_download {
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.zhushou_download li {
	background-color: #FFFFFF;
	width: 188px;
	float: left;
	height: 200px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 60px;
	border-radius: 2px;
	border: 1px solid #F3F3F3;
}
/* Outline Inward */
.outline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.outline-inward:hover:before, .outline-inward:focus:before, .outline-inward:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
.zhushou_download li .pc_download_icon {
	background-image: url(../img/zhushou_liulanqi_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 95px;
	width: 75px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.zhushou_download li .pc_download_icon .pc_icon {
	background-image: url(../img/liulanqi_ico.png);
	background-repeat: no-repeat;
	float: left;
	height: 75px;
	width: 75px;
}
.chrome_icon {
	background-position: -150px 0px;
}
.s360_icon {
	background-position: 0px 0px;
}
.j360_icon {
	background-position: -75px 0px;
}
.liebao_icon {
	background-position: -375px 0px;
}
.sogou_icon {
	background-position: -675px 0px;
}
.uc_icon {
	background-position: -830px 0px;
}
.aoyou_icon {
	background-position: -450px 0px;
}
.opera_icon {
	background-position: -525px 0px;
}
.firefox_icon {
	background-position: -225px 0px;
}
.baidu_icon {
	background-position: -750px 0px;
}
.pc_name {
	font-size: 14px;
	color: #666666;
	line-height: 30px;
	text-align: center;
}
.pc_zhushou_tag {
	width: 100%;
	height: 40px;
	margin-top: 20px;
}
.pc_zhushou_tag .pc_zhushou_jiaocheng {
	float: left;
	margin-left: 10px;
}
.pc_zhushou_jiaocheng a {
	font-size: 13px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
	background-image: url(../img/zhushou_jiaocheng_ico.png);
	background-repeat: no-repeat;
	text-indent: 18px;
	background-position: left center;
	float: left;
}
.pc_zhushou_jiaocheng a:hover {
	background-image: url(../img/zhushou_jiaocheng_ico_hover.png);
	background-repeat: no-repeat;
	color: #ff4351;
}
.pc_zhushou_tag .pc_zhushou_download {
	float: right;
	margin-right: 10px;
}
.pc_zhushou_download a {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	background-image: url(../img/zhushou_download_ico.png);
	background-repeat: no-repeat;
	text-indent: 18px;
	background-position: left center;
	float: right;
	line-height: 25px;
}
.pc_zhushou_download a:hover {
	background-image: url(../img/zhushou_download_ico_hover.png);
	background-repeat: no-repeat;
	color: #ff4351;
}
.jiaocheng_content,.question_content,.feedback_content {
	background-color: #f6f6f6;
	float: left;
	width: 100%;
}
.zhushou_location {
	line-height: 50px;
	font-size: 12px;
	color: #666666;
}
.zhushou_location a {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}
.zhushou_location a:hover {
	color: #fe7b40;
	text-decoration: none;
}

.jiaocheng_left {
	float: left;
	width: 200px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EFEFEF;
	border-left-color: #EFEFEF;
}
.jiaocheng_left li {
	float: left;
	width: 200px;
	height: 55px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EFEFEF;
	line-height: 55px;
	background-color: #FDFDFD;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	position: relative;
}
.jiaocheng_left  li.current a{
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	width: 201px;
	position: relative;
	color: #fe7b40;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #fe7b40;
	margin-left: -1px;
}
.jiaocheng_left li:hover a{
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	width: 201px;
	position: relative;
	color: #fe7b40;
	text-decoration: none;
}
.jiaocheng_left a {
	text-decoration: none;
	color: #333333;
	float: left;
	width: 100%;
	font-size: 14px;
}

.jiaocheng_left li i {
	background-image: url(../img/liulanqi_ico_30.png);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-top: 14px;
	margin-right: 5px;
}
.jiaocheng_left li i.jc_chrome_icon {
	background-position: -46px 0px;
}
.jiaocheng_left li i.jc_360_icon {
	background-position: 0px 0px;
}
.jiaocheng_left li i.jc_360chrome_icon {
	background-position: -23px 0px;
}
.jiaocheng_left li i.jc_liebao_icon {
	background-position: -117px 0px;
}
.jiaocheng_left li i.jc_sogou_icon {
	background-position: -210px 0px;
}
.jiaocheng_left li i.jc_uc_icon {
	background-position: -260px 0px;
}
.jiaocheng_left li i.jc_liuliu_icon {
	background-position: -140px 0px;
}
.jiaocheng_left li i.jc_opera_icon {
	background-position: -164px 0px;
}
.jiaocheng_left li i.jc_iphone_icon {
	background-position: -187px 0px;
}
.jiaocheng_left li i.jc_hofu_icon {
	background-position: -70px 0px;
}
.jiaocheng_left li i.jc_qixing_icon {
	background-position: -94px 0px;
}
.jiaocheng_left li i.jc_baidu_icon {
	background-position: -235px 0px;
}

.jiaocheng_right {
	float: right;
	width: 916px;
	background-color: #FFFFFF;
	border: 1px solid #EFEFEF;
	min-height: 600px;
	margin-bottom: 50px;
	padding-right: 40px;
	padding-left: 40px;
}
.jiaocheng_title {
	line-height: 55px;
	text-align: center;
	height: 55px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F3F3F3;
	font-size: 18px;
	color: #333333;
}
.jiaocheng_tips {
	font-size: 14px;
	color: #666666;
	line-height: 25px;
	background-image: url(../img/iconfont-tips.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.jiaocheng_buzou {
	float: left;
	width: 100%;
}
.jiaocheng_buzou h1 {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	color: #00bb9c;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #EAEAEA;
	float: left;
	width: 100%;
	line-height: 30px;
}
.jiaocheng_buzou ul {
	display: block;
	float: left;
	width: 100%;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 50px;
}
.jiaocheng_buzou li {
	float: left;
	border-left-width: 2px;
	border-left-style: dashed;
	border-left-color: #CCCCCC;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}
.jiaocheng_buzou  li i {
	height: 30px;
	width: 30px;
	background-color: #00bb9c;
	position: absolute;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	margin-top: -15px;
	margin-left: -16px;
	border-radius: 50%;
	font-style: normal;
}
.jiaocheng_buzou  li  p {
	margin-left: 30px;
	font-size: 16px;
	color: #333333;
	position: relative;
	top: -10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}
.jiaocheng_buzou li p a {
	color: #fe7b40;
	text-decoration: underline blink;
	font-size: 16px;
}
.jiaocheng_buzou li p span {
	font-size: 12px;
}
.jiaocheng_buzou li.end {
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.jiaocheng_buzou li.end i {
	background-image: url(../img/iconfont-chenggong.png);
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	background-color: #FFFFFF;
}
.jiaocheng_buzou li.end p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
}
.question_info {
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	border: 1px solid #F0F0F0;
	margin-bottom: 50px;
}

.question_title {
	background-image: url(../img/iconfont-wenti.png);
	background-repeat: no-repeat;
	line-height: 50px;
	height: 50px;
	float: left;
	width: 100%;
	font-size: 18px;
	color: #00bb9c;
	background-position: 10px center;
	text-indent: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
}
.question_title a {
	text-decoration: none;
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: #00bb9c;
}
.question_info ul {
	float: left;
	width: 98%;
	padding: 10px;
}
.question_info li {
	line-height: 45px;
	background-image: url(../img/artlist.gif);
	background-repeat: no-repeat;
	background-position: 20px center;
	text-indent: 40px;
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F9F9F9;
}
.question_info  li a {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	float: left;
	width: 100%;
}
.question_info li a:hover {
	color: #00bb9c;
}
.question_info   li   a i  {
	font-size: 12px;
	font-style: normal;
	float: right;
	color: #999999;
	margin-right: 15px;
}
.question_info  .question_text  {
	font-size: 12px;
	margin-left: 40px;
	float: left;
	width: 94%;
	background-color: #F9F9F9;
	padding: 10px;
	color: #666666;
	line-height: 25px;
}
.feedback_info {
	background-color: #FFFFFF;
	margin-bottom: 50px;
}
.feedback_info h1 {
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: #666666;
	line-height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	font-weight: normal;
	font-size: 24px;
}
.feedback_from {
	width: 600px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 500px;
}
.feedback_from td {
	color: #666666;
}

.feedback_textarea {
	width: 100%;
	height: 140px;
	resize: none;
	padding: 8px;
	border: 1px solid #d9d9d9;
	font-size: 14px;
	line-height: 24px;
	font-family: \5fae\8f6f\96c5\9ed1;
	margin-top: 10px;
}
.feedback_email {
	width: 100%;
	padding: 8px;
	border: 1px solid #d9d9d9;
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
}
.feedback_submit {
	background-color: #00bb9c;
	height: 40px;
	width: 120px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 16px;
	cursor: pointer;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-top: 30px;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	outline: none;
}
.feedback_submit:hover {
	background-color: #ff4351;
}
