@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family:"Microsoft YaHei",'arial';
}
.common {
	width: 1180px;
	min-width:1180px;
	max-width:1780px;
}
/*改变选中文字的背景颜色*/
selection{background-color:#ff6138;color:#FFF;}
div::selection{background-color:#ff6138;color:#FFF;}
::-moz-selection{background:#ff6138;color:#FFF;}
div::-moz-selection{background-color:#ff6138;color:#FFF; }

li::selection{background-color:#ff6138;color:#FFF;}
::-moz-selection{background:#ff6138;color:#FFF;}
li::-moz-selection{background-color:#ff6138;color:#FFF; }

em::selection{background-color:#ff6138;color:#FFF;}
::-moz-selection{background:#ff6138;color:#FFF;}
em::-moz-selection{background-color:#ff6138;color:#FFF; }

span::selection{background-color:#ff6138;color:#FFF;}
::-moz-selection{background:#ff6138;color:#FFF;}
span::-moz-selection{background-color:#ff6138;color:#FFF; }

nobr::selection{background-color:#ff6138;color:#FFF;}
::-moz-selection{background:#ff6138;color:#FFF;}
nobr::-moz-selection{background-color:#ff6138;color:#FFF; }

p::selection{background-color:#ff6138;color:#FFF;}
::-moz-selection{background:#ff6138;color:#FFF;}
p::-moz-selection{background-color:#ff6138;color:#FFF; }


input,textarea,select,button{
	font-family:inherit;
	font-weight:inherit;
	outline-style:none;
	outline-width:0pt;
	resize:none;
	padding:0;
	margin:0;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a {
	text-decoration: none;
	font-family: 'arial',"Microsoft YaHei";
	outline: none;
	-webkit-transition: all 0.2s linear ;
	-moz-transition: all 0.2s linear ;
	-ms-transition: all 0.2s linear ;
	-o-transition: all 0.2s linear ;
	transition: all 0.2s linear ;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.linear {
	-webkit-transition: all 0.3s linear ;
	-moz-transition: all 0.3s linear ;
	-ms-transition: all 0.3s linear ;
	-o-transition: all 0.3s linear ;
	transition: all 0.3s linear ;
}

.header {
	width: 100%;
	position: absolute;
	z-index: 9999 !important;
}
.common {
	width: 1180px;
	min-width:1180px;
	margin: 0 auto;
	position: relative;
}

.common_top_bg {
	width: 100%;
	min-width:1180px;
	height: 30px;
	background-color: #333333;
}
.top_left {
	float: left;
	height: 30px;
}
.common_top_bg   li,.common_top_bg  i {
	float: left;
	display: block;
	color: #b5b5b5;
	font-size: 12px;
	line-height: 30px;
	position: relative;
	font-style: normal;
}
.common_top_bg  li a {
	color: #BFBFBF;
	font-size: 12px;
	text-align: center;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
.common_top_bg  li  a.orange  {
	color: #FF3300;
}
.top_nav_current {
	color: #333333;
	background-color: #484848;
	z-index: 999;
}
.common_top_bg li a span {
	float: left;
}
.common_top_bg li a em {
	background-image: url(../../img/iconfont-moreunfold.png);
	background-position: center;
	height: 30px;
	width: 8px;
	background-repeat: no-repeat;
	float: left;
	margin-left: 5px;
}

.common_top_bg  li  a .em_current {
	background-image: url(../../img/iconfont-moreunfold-hover.png);
	background-repeat: no-repeat;
}
.subnav {
	position: absolute;
	top: 30px;
	background-color: #484848;
	display: none;
	z-index: 999;
	width: auto;
}
.subnav li {
	line-height: 30px;
	text-align: center;
	float: left;
}

.subnav li a {
	color: #b5b5b5;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	clear: both;
}
.subnav li a:hover {
	background-color: #5D5D5D;
	color: #CDCDCD;
	font-size: 12px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.slide_new {
	background-image: url(../../img/5-120601152203.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 24px;
	position: absolute;
	z-index: 9999;
	margin-left: 55px;
	margin-top: -10px;
}

.common_top_bg  .subnav em {
	float: left;
	background-image: none;
	height: 30px;
	width: 16px;
	margin-right: 7px;
	margin-left: 10px;
}
.common_top_bg  .subnav .user_ico {
	background-image: url(../../img/iconfont-yonghu.png);
	background-repeat: no-repeat;
}
.common_top_bg   .subnav  .qq_ico {
	background-image: url(../../img/iconfont-qq.png);
	background-repeat: no-repeat;
}
.common_top_bg   .subnav  span  {
	float: left;
}

.login_nav {
	width: 100px;
}
.login_nav a {
	text-align: center;
	width: 100px;
}
.user_nav {
	width: 81px;
}
.user_nav  a {
	text-align: center;
	width: 81px;
}
.zichan_nav {
	width: 81px;
}
.zichan_nav   a {
	text-align: center;
	width: 81px;
}
.dingdan_nav {
	width: 81px;
}
.dingdan_nav  a {
	text-align: center;
	width: 81px;
}
.userbox_nav {
	width: 200px;
	height: 180px;
	padding: 10px;
}
.userbox_nav .userbox_top {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #616161;
	float: left;
	padding-bottom: 10px;
	width: 200px;
}

.userbox_top .user_pic {
	height: 70px;
	width: 70px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
}
.userbox_top .user_pic img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
}
.userbox_top .user_top_info {
	float: left;
	margin-left: 20px;
}
.userbox_top .user_top_info p {
	padding: 0px;
	margin: 0px;
	line-height: 24px;
	color: #BFBFBF;
}
.subnav .userbox_center {
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #616161;
	margin-top: 5px;
}
.subnav .userbox_center a {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding: 0px;
	color: #BFBFBF;
}
.subnav .userbox_center a:hover {
	color: #FF6600;
}
.subnav .userbox_bottom {
	float: left;
}
.subnav .userbox_bottom a {
	background-color: #FF6600;
	margin-top: 10px;
	margin-right: 14px;
	color: #FFFFFF;
	height: 23px;
	line-height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 2px;
}
.subnav .userbox_bottom .userbox_bottom_tixian {
	background-color: #FF4646;
}
.subnav .userbox_bottom .userbox_bottom_tixian:hover {
	background-color: #FF5353;
}
.subnav .userbox_bottom .userbox_bottom_duihuan {
	background-color: #04BB8D;
}
.subnav .userbox_bottom .userbox_bottom_duihuan:hover {
	background-color: #04B086;
}
.subnav .userbox_bottom .user_out {
	margin-right: 0px;
	background-color: #7C7C7C;
}
.subnav .userbox_bottom .user_out:hover {
	background-color: #FF0000;
	color: #FFFFFF;
}



.top_right {
	float: right;
	height: 30px;
}
.fanli_nav {
	width: 81px;
}
.fanli_nav   a {
	text-align: center;
	width: 81px;
}
.daohang_nav {
	width: 81px;
}
.daohang_nav    a {
	text-align: center;
	width: 81px;
}
/* 定义keyframe动画，命名为blink */
@keyframes blink{
  0%{opacity: 1;}
  50%{opacity: 1;}
  50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
  100%{opacity: 0;} 
}

/* 添加兼容性前缀 */

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* 定义blink类*/
.blink{
    animation: blink .75s linear infinite;  
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    color: #dd4814;
}

/*底部样式*/

.common_footer {
	height: 160px;
	width: 100%;
	min-width:1180px;
	background-color: #fdfcfc;
	top: 10px;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F2F2F2;
}
.footer_content {
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
}
.footer_content a:hover {
	color: #FF6600;
	text-decoration: none;
}
.footer_nav {
	margin-top: 20px;
	color: #666666;
	line-height: 22px;
	font-size: 13px;
}
.footer_nav a {
	text-decoration: none;
	color: #666666;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
}
.footer_nav a:hover {
	color: #FF6600;
}
.footer_copyright {
	line-height: 30px;
	font-size: 12px;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 5px;
}
.footer_copyright a {
	text-decoration: none;
	color: #666666;
	font-size: 12px;
}
.footer_icp {
	font-size: 12px;
	color: #666666;
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer_icp a {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}
.footer_ico  {
	width: auto;
	float: left;
	font-size: 13px;
}
.footer_ico ul {
	margin-left: 200px;
	background-color: #009999;
}
.footer_ico li {
	float: left;
	line-height: 27px;
	margin-left: 10px;
}
.footer_ico span {
	float: left;
	margin-top: 5px;
}
.footer_ico em {
	font-size: 12px;
	font-style: normal;
	margin-left: 5px;
	margin-top: 5px;
}
.footer_ico a {
	text-decoration: none;
	color: #666666;
	font-size: 12px;
}

/*返回顶部*/
.backtop {
	background-color: #393939;
	height: 45px;
	width: 45px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	background-image: url(../img/backtop.png);
	background-repeat: no-repeat;
	background-position: 65% center;
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	-o-transition:all linear 0.30s;
	transition:all linear 0.30s;
	display: none;
	border-radius: 5px;
	z-index: 9999;
}
.backtop:hover {
	background-color: #ff6138;
}
/*在线客服*/
.zxkf {
	background-color: #393939;
	height: 45px;
	width: 45px;
	position: fixed;
	right: 10px;
	bottom: 65px;
	cursor: pointer;
	background-image: url(../img/iconfont-zaixiankefu.png);
	background-repeat: no-repeat;
	background-position: 65% center;
	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	-o-transition:all linear 0.30s;
	transition:all linear 0.30s;
	border-radius: 5px;
	z-index: 9999;
}
.zxkf:hover {
	background-color: #ff6138;
}

.page {
	line-height: 50px;
	height: 50px;
	margin-bottom: 10px;
	width: 99%;
	margin-left: 8px;
	font-size: 13px;
	float: left;
	margin-top: 10px;
}
.page   .disabled {
	border-radius: 2px;
	color: #666666;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-right: 10px;
	font-family: "微软雅黑";
	display: none;
}
.page  a {
	color: #666666;
	border-radius: 2px;
	background-color: #F7F7F7;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right: 10px;
	font-family: cursive, Georgia, "微软雅黑";
}
.page  a:hover {
	color: #FFFFFF;
	background-color: #00b98d;
}

.page  span {
	color: #666666;
	border-radius: 2px;
	background-color: #F7F7F7;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right: 10px;
	font-family: cursive, Georgia, "微软雅黑";
}
.page  span.current {
	color: #FFFFFF;
	background-color: #00b98d;
	padding-top: 9px;
	border-radius: 2px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right: 10px;
	font-family: Georgia;
	font-size: 16px;
}

.page .page_dian {
	border-radius: 2px;
	color: #666666;
	background-color: #F7F7F7;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-right: 10px;
	font-family: cursive, Georgia, "微软雅黑";
}
.tishi {
	color: #FFFFFF;
	width: 100%;
	font-size: 16px;
	line-height: 60px;
	background-color: rgba(52,153,218,0.8);
	text-align: center;
	position: fixed;
	top: 0px;
	z-index: 9999;
	display: none;
}
.friend_link {
	height: 45px;
	line-height: 45px;
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	margin-bottom: 15px;
	font-size: 12px;
}
.friend_link span {
	background-image: url(../../img/link_pic.png);
	background-repeat: no-repeat;
	background-position: 0px center;
	height: 45px;
	padding-left: 25px;
	float: left;
	margin-left: 10px;
	color: #666666;
}
.link_list {
	float: left;
	margin-left: 10px;
	overflow: hidden;
	width: 91%;
}
.link_list .tempWrap{ width: 100% !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.link_list ul{ overflow:hidden; zoom:1; }

.link_list li {
	float: left;
	margin-right: 15px;
	display:inline;
	width:auto !important;
	margin-top: 1px;
}
.link_list li a {
	color: #999999;
}
.xiajia {
	position: absolute;
	z-index: 999;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	background-color: #333333;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	width: 93%;
	line-height: 50px;
}
/*双十一活动*/
@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft Yahei";
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.shiyi_tmall {
	position: fixed;
	left: -180px;
	top: 0px;
	width: 230px;
	z-index: 9999;
}
.shiyi_jd {
	position: fixed;
	top: 0px;
	width: 230px;
	right: -180px;
	z-index: 9999;
}
.shiyi_float_left {
	float: right;
	width: 50px;
}
.jd_left {
	float: left;
}

.shiyi_title {
	display: block;
	width: 50px;
	cursor: pointer;
	height: 257px;
}


.shiyi_tmall_nav {
	background-color: #000000;
	height: 300px;
	width: 50px;
}
.shiyi_tmall_nav li {
	float: left;
	width: 50px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.shiyi_tmall_nav li span {
	float: left;
	height: 35px;
	width: 50px;
	background-position: center 10px;
}
.shiyi_tmall_nav li.dh_hui .bai {
	background-image: url(../../img/shiyi/iconfont-daohang_bai.png);
	background-repeat: no-repeat;
}
.shiyi_tmall_nav li.dh_hui .hong {
	background-image: url(../../img/shiyi/iconfont-daohang_hong.png);
	background-repeat: no-repeat;
}
.shiyi_tmall_nav  li.dh_quan .bai {
	background-image: url(../../img/shiyi/iconfont-youhuiquan_bai.png);
	background-repeat: no-repeat;
}
.shiyi_tmall_nav  li.dh_quan .hong {
	background-image: url(../../img/shiyi/iconfont-youhuiquan_hong.png);
	background-repeat: no-repeat;
}

.shiyi_tmall_nav li em {
	color: #FFFFFF;
	float: left;
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
	padding-right: 18px;
	padding-bottom: 10px;
	padding-left: 18px;
	font-style: normal;
	line-height: 16px;
}
.shiyi_tmall_nav li.on {
	background-color: #ffde00;
}
.shiyi_tmall_nav  li.on   em {
	color: #EE0A3B;
	font-weight: bold;
	font-size: 14px;
}



.shiyi_float_footer {
	background-image: url(../../img/shiyi/shiyi_float_footer.png);
	background-repeat: no-repeat;
	height: 130px;
	width: 50px;
}

.shiyi_float_right {
	float: left;
	background-color: #333333;
	width: 180px;
}
.jd_right {
	float: right;
}

.float_right_top {
	float: left;
}
.shiyi_title_logo {
	width: 180px;
}
.shiyi_title_logo img {
	width: 180px;
}
.shiyi_title_name {
	line-height: 40px;
	color: #FFFFFF;
	text-align: center;
	background-color: #E50F35;
}
.jd_name {
	background-color: #f23424;
}

.shiyi_title_name a {
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 14px;
}
.overflow {
}
.shiyi_float_content,.shiyi_jd_content {
	float: left;
	width: 180px;
	display: block;
	overflow: auto;
	overflow-x: hidden;
}
.shiyi_box  {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 160px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.shiyi_nav_title {
	color: #A8A8A8;
	font-size: 14px;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #494949;
	font-weight: bold;
}
.shiyi_list {
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
}
.shiyi_list	a {
	display: inline-block;
	background-color: #494949;
	height: 35px;
	line-height: 35px;
	color: #B9B9B9;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 46%;
}
.shiyi_list	a:hover {
	background-color: #e50f35;
	color: #FFFFFF;
}
.tmall_quan_content,.jd_quan_content {
	float: left;
	width: 180px;
	display: block;
	overflow: auto;
	overflow-x: hidden;
}
.shiyi_quan_box {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 160px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.shiyi_quan_title {
	color: #A8A8A8;
	font-size: 14px;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #494949;
	font-weight: bold;
}
.shiyi_quan_list {
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
}
.shiyi_quan_list li {
	background-color: #FFFFFF;
	float: left;
	padding: 5px;
	width: 150px;
	margin-bottom: 10px;
}
.shiyi_quan_line {
	background-image: url(../../img/shiyi/line.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 150px;
	float: left;
}

.shiyi_quan_top {
	background-color: #f3f3f3;
	text-align: center;
}
.shiyi_quan_money {
	color: #D8000E;
	font-family: "microsoft yahei";
	font-size: 12px;
	line-height: 50px;
	text-align: center;
	height: 50px;
}
.shiyi_quan_money span {
	font-size: 23px;
	font-weight: 800;
}
.shiyi_quan_name {
	font-size: 12px;
	color: #333333;
	line-height: 25px;
}
.shiyi_quan_footer {
	float: left;
	font-size: 12px;
	color: #666666;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width: 140px;
}
.shiyi_quan_stime, .shiyi_quan_etime {
	margin-bottom: 5px;
	text-align: center;
}
.shiyi_quan_go {
	position: relative;
	z-index: 9;
	height: 45px;
	width: 150px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 45px;
	margin-top: 15px;
	display: none;
}
.shiyi_quan_go a {
	text-decoration: none;
	background-color: #7abd54;
	font-size: 15px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	position: relative;
	top: -45px;
}
.shiyi_quan_go a:hover {
	background-color: #e50f35;
}
.jump_box {
	height: 500px;
	width: 690px;
	position: fixed;
	z-index: 99999;
	display:none;
	cursor: pointer;
	-webkit-animation: zoomInUp 1s .2s ease both;
	-moz-animation: zoomInUp 1s .2s ease both;
	animation: zoomInUp 1s .2s ease both;
	-ms-animation: zoomInUp 1s .2s ease both;
	-o-animation: zoomInUp 1s .2s ease both;
	margin-top: -250px;
	margin-left: -345px;
	left: 50%;
	top: 50%;
}
@keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-ms-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-ms-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomInUp{-webkit-animation-name:zoomInUp;animation-name:zoomInUp}
.jump_box .sale_img {
	position: absolute;
	z-index: 9;
	box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.3);
}
.jump_box .close_btn {
	height: 26px;
	width: 26px;
	position: absolute;
	cursor: pointer;
	z-index: 99;
	display: block;
	right: 0px;
	margin-top: 18px;
	margin-right: 18px;
	text-align: center;
    line-height: 20px;
	font-size: 30px;
	background-color: #FF4F8B;
    color: #fff;
}
/*--弹窗样式--*/
#gray{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	position:fixed;
	top:0px;
	display:none;
	z-index:9999;
}

.popup{
	width:470px;
	height:auto;
	background-color:#fff;
	position:fixed;
	z-index:10000;
	border:1px solid #ebeaea;
	left:400px;
	top:96px;
	display: none;
}
#popup .top_nav{
	height:46px;
	border-bottom:1px solid #ebeaea;
	position:relative;
	cursor:move;
}
#popup .top_nav span{
	color:#666666;
	display:block;
	position:absolute;
	top:13px;
	left:10px;
	font-family: "microsoft yahei";
	font-size: 18px;
	line-height: 18px;
}
#popup .top_nav a.guanbi { background:url(../../img/popup_guanbi.png) repeat 0px 0px; width:35px; height: 35px; display: block; position:absolute;top:8px;right:10px;cursor:pointer;}
#popup .top_nav a.guanbi span { display: none;}
#popup .top_nav a.guanbi:hover { background: url(../../img/popup_guanbi.png) repeat 0px -35px; }
#popup .min{padding:10px;}

#popup .tc_login{
	width:450px;
	height:300px;
	background-color:#fff;
}
#popup .plugin_user {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#popup .tc_login .login_tishi {
	line-height: 35px;
	text-align: center;
	height: 35px;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #FF3300;
	margin-bottom: 10px;
}

#popup .plugin_user span {
	font-family: "Microsoft Yahei";
	font-size: 16px;
	color: #666666;
	float: left;
	margin-left: 20px;
	width: 50px;
	font-weight: normal;
	text-align: right;
}
#popup .plugin_user_info {
	float: left;
	height: 35px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	width: 300px;
	line-height: 35px;
	font-family: "Microsoft Yahei";
	font-size: 13px;
	border-radius: 3px;
}
#popup .plugin_login_btn {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #f04848;
	font-family: "Microsoft Yahei";
	line-height: 40px;
	color: #FFFFFF;
	height: 40px;
	width: 310px;
	font-size: 18px;
	margin-left: 40px;
	cursor: pointer;
	font-weight: 500;
	outline: none;
	-webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
#popup .plugin_login_btn:hover {
	background-color: #f05a5b;	
}
#popup .lianhe_login {
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #666666;
	padding-left: 90px;
}
#popup .lianhe_login a {
	color: #666666;
	text-decoration: none;
}
#popup .lianhe_login a:hover {
	color: #f04848;
	text-decoration: none;
}
#popup .onloading {
	background-image: url(../../img/onloading.gif);
	background-repeat: no-repeat;
	background-position: 39% center;
	line-height: 35px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	text-indent: 30px;
	float: left;
	width: 100%;
	height: 33px;
}
.layui-layer-btn a{
	font-size: 12px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}