
/* CSS Document */
body{font-size:12px; font-family:"微软雅黑",Tahoma,Arial,"宋体",sans-serif; margin:0; padding:0; background:#fafafa;}
ul,li,ol{ list-style:none;}
div,p,ul,li,ol,dl,h1,h2,h3,h4,h5,img,pre{margin:0; padding:0;}
em,i{font-style:normal;}
strong{font-weight:normal;}
img{border:none; vertical-align:middle;}
.clear{float:none;!important; clear:both;!important; margin:0; padding:0;}
a{color:#2C2319;text-decoration:none; }
.fleft{float:left;}
.fright{float:right;}
input{outline: none;}

/*header*/
.h_top_adv a{height:80px; display:block;}
.w1190{width:1190px; margin: auto;}
.header{background-color:#fff;}
.topbar{background-color:#f0f0f0; color:#666; line-height:28px; height:28px;}
.topbar .bar_l{width:300px; height:28px; overflow:hidden;}
.topbar .bar_l .user_info {position:relative; padding-left:11px; width:300px; height:28px;}
.topbar .bar_l .user_info a{width:120px; height:28px; overflow:hidden; color:#666; margin:0 10px;position:relative;}
.topbar .bar_l .user_info a i{background:url(../../images/zhequ/icon_tao.png) no-repeat; width:16px; height:16px; overflow:hidden; position:absolute; left:-20px; top:1px;}
.topbar .bar_l .user_info a em{background:url(../../images/zhequ/qq_icon.png) no-repeat; width:16px; height:16px; overflow:hidden; position:absolute; left:-18px; top:0;}
.topbar .bar_l .user_info a:hover{color:#f64133;}
.topbar .bar_l .user_info .regist{margin-left:0px;}
.topbar .bar_l .user_info em{background-color:#ddd; width:1px; height:16px; overflow:hidden; display:block; position:absolute; left:150px; top:6px;}

.topbar .bar_l .user_login{width:300px; height:28px; overflow:hidden;}
.topbar .bar_l .user_login .user_name{margin-right:20px;}
.topbar .bar_l .user_login .user_name2{margin-right:10px;}
.topbar .bar_l .user_login .user_name a{color:#666; line-height:28px;}
.topbar .bar_l .user_login .user_name i{background-color:#f64133; border-radius:3px; color:#fff; height:17px; line-height:17px; margin:5px 0 0 3px; padding:0 5px; display:block;}
.topbar .bar_l .user_login .user_name a:hover{color:#f64133;}
.topbar .bar_l .user_login .user_name .cored{color:#f64133;}
.topbar .bar_l .user_login .user_name span{background-color:#ddd; width:1px; height:16px; overflow:hidden; display:block; margin:5px 2px;}
.topbar .bar_l .login-before{display:block;}
.topbar .bar_l .has-login{display:none;}

.topbar .bar_r{width:280px; height:28px;}
.topbar .bar_r .sn_separator{width:1px; height:16px; background-color:#ddd; overflow:hidden; float:left; margin:6px 10px 0 9px;} 
.topbar .bar_r .help{width:50px; height:28px; overflow:hidden; float:left;}
.topbar .bar_r .my_order{width:68px; height:28px; overflow:hidden; float:left;}
.topbar .bar_r .help a,.topbar .bar_r .my_order a,.topbar .bar_r .sn_kf .kf a,.topbar .bar_r .sn_car .car_item a{color:#666;}
.topbar .bar_r .my_order a i{width:16px; height:16px; background:url(../../images/zhequ/iconfont-liebiao.png) no-repeat; float:left; overflow:hidden; margin:7px 3px 0 0;}
.topbar .bar_r .help a:hover,.topbar .bar_r .my_order a:hover,.topbar .bar_r .sn_kf .kf a:hover,.topbar .bar_r .sn_car .car_item a:hover{color:#f64133;}
.topbar .bar_r .my_order a:hover i{background:url(../../images/zhequ/iconfont-liebiao_hover.png) no-repeat;}

/*联系客服*/
.topbar .bar_r .sn_kf{width:50px; height:28px; float:left; position:relative;}
.topbar .bar_r .sn_kf .kf{width:50px; height:28px; overflow:hidden;}
.topbar .bar_r .sn_kf .kf_box{width:142px; background:#fff; border:#ddd 1px solid; display:none; position:absolute; left:-55px; top:28px; z-index:99; color:#666; line-height:20px; padding:8px 8px 0;}
.topbar .bar_r .sn_kf .kf_box p{margin-bottom:8px;}
.topbar .bar_r .sn_kf .kf_box p a{margin-left:5px;}
.topbar .bar_r .sn_kf .kf_icon{width:10px; height:5px; background:url(../../images/zhequ/icon_arrow_up.png) no-repeat; overflow:hidden; position:absolute; left:20px; top:24px; z-index:999; display:none;}
.topbar .bar_r .cur .kf_box,.topbar .bar_r .cur .kf_icon{display:block;}
/*end 联系客服*/

/*购物车*/
.topbar .bar_r .sn_car{width:81px; height:28px; float:left; position:relative;}
.topbar .bar_r .sn_car .car_item{width:81px; height:28px; overflow:hidden;}
.topbar .bar_r .sn_car .car_item a i{width:16px; height:16px; background:url(../../images/zhequ/iconfont-gouwuche.png) no-repeat; overflow:hidden; float:left; margin:6px 4px 0 0;}
.topbar .bar_r .sn_car .car_item a em{color:#f64133; font-weight:bold; margin-left:2px;}
.topbar .bar_r .sn_car .sncar_box{width:300px; background:#fff; border:#ddd 1px solid; display:none; position:absolute; left:-125px; top:28px; z-index:99; color:#666; line-height:20px; padding:10px 9px 0;}
.sncar_box .car_none{width:286px; height:27px; overflow:hidden; color:#666; line-height:27px; margin-bottom:10px; padding-left:14px; display:none;}
.sncar_box .car_none a{width:100px; height:27px; float:right; color:#fff; text-align:center; line-height:27px; border-radius:4px; background-color:#F00;}
.sncar_box .car_info{width:300px;}
.sncar_box .car_info .car_top{width:300px;}
.sncar_box .car_info .car_top .p_rows{width:300px; margin-bottom:13px;}
.sncar_box .car_info .car_top .p_rows .r_pic{width:42px; height:42px; float:left;}
.sncar_box .car_info .car_top .p_rows .r_in{width:190px; height:42px; float:left; overflow:hidden; margin:0 10px;}
.sncar_box .car_info .car_top .p_rows .r_in .i_title{width:190px; height:21px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.sncar_box .car_info .car_top .p_rows .r_in .i_title a{color:#666; line-height:21px;}
.sncar_box .car_info .car_top .p_rows .r_in .i_title a:hover{color:#f64133;}
.sncar_box .car_info .car_top .p_rows .r_in .i_text{width:190px; height:21px; overflow:hidden; color:#666; line-height:21px;}
.sncar_box .car_info .car_top .p_rows .r_in .i_text i{margin-right:15px;}
.sncar_box .car_info .car_top .p_rows .rows_r{width:48px; height:42px; float:right; line-height:21px; text-align:right;}
.sncar_box .car_info .car_top .p_rows .rows_r .r_price{width:48px; height:21px; overflow:hidden;color:#f64133; font-weight:bold;}
.sncar_box .car_info .car_top .p_rows .rows_r .r_del a{width:48px; height:21px; overflow:hidden; color:#666; font-weight:bold; display:block;}
.sncar_box .car_info .car_top .p_rows .rows_r .r_del a:hover {color:#f64133; text-decoration:underline;}
.sncar_box .car_info .car_btm{width:300px; border-top:#ddd 1px solid; margin-top:5px;}
.sncar_box .car_info .car_btm .b_text{width:300px; height:20px; color:#666; line-height:20px; margin:5px 0; text-align:right; overflow:hidden;}
.sncar_box .car_info .car_btm .b_btn a{width:80px; height:27px; color:#fff; line-height:27px; float:right; text-align:center; background-color:#f64133; border-radius:5px; margin-bottom:13px;}
.topbar .bar_r .sn_car .car_icon{width:10px; height:5px; background:url(../../images/zhequ/icon_arrow_up.png) no-repeat; overflow:hidden; position:absolute; left:32px; top:24px; z-index:999; display:none;}
.topbar .bar_r .cur .sncar_box,.topbar .bar_r .cur .car_icon{display:block;}
/*end 购物车*/

.h_btm{height:110px;} 
.h_btm .logo{width:140px; height:50px; margin:30px 40px 0 0;}
.h_btm .search_box{width:376px; margin:37px 0 0 0;}
.h_btm .search_box .form{width:374px; height:32px; overflow:hidden; background: #ff2726;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4e3d), color-stop(1, #ff2726));
    background:-moz-linear-gradient(left, #ff4e3d, #ff2726);
    background: -ms-linear-gradient(left, #ff4e3d, #ff2726);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e3d', endColorstr='#ff2726', GradientType=0); padding:1px; position:relative;}
.h_btm .search_box .form .put{width:272px; height:30px; overflow:hidden; background:#fff; border:none; padding-left:30px; line-height:30px; color:#999; font-size:14px; }
.h_btm .search_box .form .search-btn a{width:71px;height:32px;color:#fff; line-height:32px; font-size:16px; font-weight:bold; text-align:center;}
.h_btm .search_box .form .search_icon{width:16px; height:16px; background:url(../../images/zhequ/search_icon.png) no-repeat #fff; position:absolute; left:8px; top:9px;}
.h_btm .search_box .cur .search_icon{display:none;}
.h_btm .brand_top{width:455px; height:45px; margin:30px 0 0 38px;}
.h_btm .qrcode{width:120px; height:85px; margin-top:10px;}



/*menu*/
.menubg{height:40px; background: #ff2726;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4e3d), color-stop(1, #ff2726));
    background:-moz-linear-gradient(left, #ff4e3d, #ff2726);
    background: -ms-linear-gradient(left, #ff4e3d, #ff2726);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e3d', endColorstr='#ff2726', GradientType=0); width:100%; min-width:1190px;}
.menubg .nav{width:800px; height:40px;}
.menubg .nav ul{width:800px; height:40px;}
.menubg .nav ul li{float:left; width:100px; height:40px;}
.menubg .nav ul li a{color:#fff; font-size:14px; width:100px; text-align:center; height:40px; line-height:40px; display:block;}
.menubg .nav .cur{background:#f12b18;}
.menubg .nav ul li a:hover{background:#f12b18;}
.menubg .signbox{width:130px; height:40px; position:relative; cursor: pointer;}
.menubg .signbox .sign{width:130px; height:40px; background:url(../../images/zhequ/signbtn.png) no-repeat;}
.menubg .signbox .sign_popup{width:300px; background:#f75a53; position:absolute; top:40px; right:0; z-index:999; border-radius:5px; display:none; padding:5px;}

.sign_popup .sign_top{width:300px; height:55px; overflow:hidden;}
.sign_popup .sign_top .sign_l{width:80px; height:45px; overflow:hidden; float:left; line-height:18px; padding:10px 0 0 15px; color:#fff; font-size:14px;}
.sign_popup .sign_top .sign_l a{color:#fff; font-size:12px;}
.sign_popup .sign_top .sign_m{width:100px; height:45px; overflow:hidden; float:left; line-height:45px; color:#fff; font-size:18px; font-weight:bold; text-align:center;}

.sign_popup .sign_top .sign_r{width:80px; height:45px; overflow:hidden; float:right; line-height:18px; padding:10px 15px 0 0; color:#fff; text-align:right;}
.sign_popup .sign_top .sign_r a{color:#fff;}
.sign_popup .sign_info{width:300px; background-color:#fff; position:relative; padding-top:15px;padding-bottom: 15px;}
.sign_popup .sign_info .i_icon01{background:url(../../images/zhequ/signicon.png) no-repeat; width:20px; height:20px; position:absolute; left:50px; top:-9px; z-index:5;}
.sign_popup .sign_info .i_icon02{background:url(../../images/zhequ/signicon.png) no-repeat; width:20px; height:20px; position:absolute; right:50px; top:-9px; z-index:5;}
.sign_popup .sign_info .kalendar{width:280px; margin:0 auto;}
.sign_popup .sign_info .kalendar .dar_th{width:280px; height:20px; color:#f64133; font-size:14px; line-height:20px;}
.sign_popup .sign_info .kalendar .dar_th span{margin:0 13px; }
.sign_popup .sign_info .kalendar .dar_td{width:280px; height:180px;}
.sign_popup .sign_info .kalendar .dar_td li{width:25px; height:26px; float:left; margin:12px 7px 0 8px;}
.sign_popup .sign_info .kalendar .dar_td li i{width:25px; height:26px; color:#c2c6ca; font-size:14px; text-align:center; line-height:26px; display:block;}
.sign_popup .sign_info .kalendar .dar_td li em{width:25px; height:26px; color:#e41600; text-align:center; line-height:26px; display:block;  background:url(../../images/zhequ/jinbin.png) no-repeat;}
.sign_popup .sign_info .kalendar .dar_td .mqd i{color:#ffdbd9; text-decoration:line-through;}
.sign_popup .sign_info .kalendar .dar_td .curday{cursor:pointer; text-align: center;}
.sign_popup .sign_info .kalendar .dar_td .curday i{color:#f64133; font-weight:bold; text-align: center;}

.sign_popup .sign_btm{width:300px; height:34px; color:#fff; text-align:center; line-height:34px;}
.sign_popup .sign_btm i{color:#f9ee30; font-weight:bold;}
.menubg .signcur .sign{background:url(../../images/zhequ/signbtn_hover.png) no-repeat;}
.menubg .signcur .sign_popup{display:block;}
/*end menu*/

/*登录页页头*/
.login_header{height:110px;}
.login_header .login_logo{width:140px; height:50px; margin:30px 0 0 93px;}
.login_header .login_brand{width:585px; height:50px; margin:30px 10px 0 0;}

/*end 登录页页头*/


/*footer*/
.footerbg{border-top:#ff2726 4px solid; height:380px;}
.footerbg .f_topbg{margin-bottom:22px; width:100%; height:180px; min-width:1190px; background:#fff;}
.footerbg .f_top{height:180px;}
.footerbg .f_top .top_u1{width:130px; margin:20px 55px 0 10px;}
.footerbg .f_top .top_u1 .u1_title{color:#333; font-size:14px; font-weight:bold; width:125px; height:34px; border-bottom:#333 1px solid; line-height:34px; padding-left:5px; margin-bottom:12px;}
.footerbg .f_top .top_u1 .u1_text{width:130px; height:20px; line-height:20px; margin-bottom:5px; position:relative;}
.footerbg .f_top .top_u1 .u1_text i{width:5px; height:6px; background:url(../../images/zhequ/footer_icon_arrow.png) no-repeat; overflow:hidden; float:left; margin:7px 6px 0 0;}
.footerbg .f_top .top_u1 .u1_text a{color:#666;}
.footerbg .f_top .top_u1 .u1_text a em{color:#f64133;}
.footerbg .f_top .top_u1 .u1_text a:hover{color:#f64133;}
.footerbg .f_top .top_u1 .u1_text .ul_popup{width:138px; height:100px; position:absolute; left:126px; top:-38px; z-index:998;}

.footerbg .f_top .top_r{background:url(../../images/zhequ/f_top_rbg.png) no-repeat; width:226px; height:98px; float:right; margin:38px 10px 0 0; padding:10px;}
.footerbg .f_top .top_r .zqewm{width:100px; height:100px;}
.footerbg .f_top .top_r .r_in{width:120px; height:98px;}
.footerbg .f_top .top_r .r_in .i_tit{width:115px; height:20px; overflow:hidden; font-size:14px; font-weight:bold; margin:20px 0 0 7px; color:#333; line-height:20px;}
.footerbg .f_top .top_r .r_in .i_tet{width:115px; height:45px; overflow:hidden; color:#999; line-height:22px; margin:10px 0 0 7px;}
.footerbg .f_top .top_r .r_in .i_tet i{color:#f64133;}
.footerbg .link{line-height:25px;}
.footerbg .link .link_l{color:#333; width:75px; height:25px;}
.footerbg .link .link_r{width:1055px;}
.footerbg .link .link_r .r_mq{width:1055px;overflow:hidden;}
.footerbg .link .link_r .r_mq ul{ width:100%;}
.footerbg .link .link_r .r_mq ul li{width:1055px;}
.footerbg .link .link_r .r_mq ul li a{color:#666; margin-right:10px;}
.footerbg .link .link_r .r_mq ul li a:hover{color:#f64133;}
.footerbg .f_pic{text-align:center; margin-top:33px;}
.footerbg .f_pic a{margin-left:5px;}
.footerbg .footer_text{margin:20px auto; color:#999; line-height:20px; height:20px; text-align:center;}
.footerbg .footer_text a{color:#999; margin:0 12px;}
.footerbg .footer_text a:hover{color:#f64133;}
.footerbg .footer_text i{color:#999; margin-right:12px;}
/*end footer*/


/*分页*/
.holder{margin:15px 0;text-align:center;}
.holder a{cursor:pointer; height:30px; line-height:30px; font-size:14px; margin-right:10px; color:#999;padding:0 12px; border:1px solid #dbdbdb; display:inline-block;}
.holder a:hover,.holder a.jp-current, a.jp-current:hover{background: #ff2726;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4e3d), color-stop(1, #ff2726));
    background:-moz-linear-gradient(left, #ff4e3d, #ff2726);
    background: -ms-linear-gradient(left, #ff4e3d, #ff2726);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e3d', endColorstr='#ff2726', GradientType=0); color:#fff; border:1px solid #f64133;}
.holder a.jp-previous:hover,.holder a.jp-next:hover{background-color:#f64133; color:#fff;}
.holder span{margin:0 5px;}
.holder a.jp-disabled{color:#e4e4e4; }
.holder a.jp-disabled:hover{background:#fff; color:#e4e4e4; border:1px solid #dbdbdb;}
/*end 分页*/

/*返回顶部*/
.returnbox{width:40px; position:fixed; left:50%; margin-left:608px; bottom:153px;z-index: 20;}
.returnbox .tab{width:38px; height:38px; position:relative;}
.returnbox .tab .tab_item{border:1px solid #ccc; width:38px; height:38px; margin-top:6px; display:block;}
.returnbox .tab .tab_item i{width:38px; height:38px; display:block;}
.returnbox .tab .tab_item em{width:34px; height:34px; display:none; background:#f64133; color:#fff; font-size:14px; line-height:17px; padding:2px; text-align:center;}
.returnbox .tab .tab_icon01{background:url(../../images/zhequ/return_icon01.png) no-repeat;}
.returnbox .tab .tab_icon02{background:url(../../images/zhequ/return_icon02.png) no-repeat;}
.returnbox .tab .tab_icon03{background:url(../../images/zhequ/return_icon03.png) no-repeat;}
.returnbox .tab .kf_box{width:140px; background:#fff; border:#ccc 1px solid; display:none; position:absolute; left:-149px; top:0; z-index:99; color:#666; line-height:15px; padding:6px 4px 0; text-align:center;}
.returnbox .tab .kf_box p{margin-bottom:8px;}
.returnbox .tab .kf_box p a{margin-left:5px;}
.returnbox .tab .kf_box p span{margin-left:5px;}
.returnbox .tab .kf_icon{border-color:transparent transparent transparent #fff ; border-style: dashed dashed dashed solid; border-width:5px; overflow:hidden; position:absolute; left:0; top:16px; z-index:999; display:none;}
.returnbox .cur .kf_box,.returnbox .cur .kf_icon{display:block;}
.returnbox .cur .tab_item i{display:none;}
.returnbox .cur .tab_item em{display:block; cursor:pointer;}

#backToTop{ position:fixed; _position:absolute; bottom:290px; left:50%; margin-left:608px; z-index:99; display:none; }
a.backToTop_a{border:1px solid #ccc; background:url(../../images/zhequ/return_icon04.png) no-repeat; width:38px; height:38px; display:block; }
a.backToTop_a:hover{background:url(../../images/zhequ/return_icon05.png) no-repeat; }

#backToTop2{position:fixed; _position:absolute; bottom:230px; left:1%; z-index:99; display:none;}
#backToTop3{position:fixed; _position:absolute; bottom:230px; left:50%; z-index:99; margin-left: 441px; display:none;}
#ba_close{width:15px; height:15px; background:url(../../images/zhequ/d11c_icon.png) no-repeat; overflow:hidden; display:block; cursor:pointer; position:absolute; right:0; top:0;}
 
.foot_btm_adv{height:200px; position:fixed; width:100%; z-index:999; left:0; bottom:0;}
.foot_btm_adv .btm_adv{height:200px; width:100%; position:relative;}
.foot_btm_adv .btm_adv i{background:url(../../images/zhequ/djxc.png) no-repeat; height:30px; display:block; width:33px; cursor:pointer; position:absolute; left:50%; margin-left:560px; top:15px; z-index:999;}
.foot_btm_adv .btm_adv .adv_banner a{ height:200px; width:100%; display:block; position:relative;}
.foot_adv_small{height:200px; position:fixed; width:200px; z-index:999; left:0; bottom:0; display:none;}



/*弹窗*/
.popmask{width:100%; height:100%; background:rgba(0, 0, 0, 0.75)!important;filter:Alpha(opacity=75); position:fixed; top:0; left:0; z-index:99990; display:none; }
.popmaskboxbg{width:474px; background:#f64133; position:fixed; top:50%; left:50%; z-index:99999; display:none; margin:-180px 0 0 -240px; border-radius:10px; padding:20px 3px 3px;}
.popmaskboxbg2{margin:-270px 0 0 -240px;}
.popmaskbox{width:474px;  background:#fff; position:relative; border-radius:0 0 8px 8px; padding:48px 0 29px; font-family: "微软雅黑";}
.popmaskbox .maskclose{width:40px; height:40px; background:url(../../images/zhequ/maskclose.png) no-repeat 14px 14px #f64133; border-radius:40px; position:absolute; right:-13px; top:-30px; cursor:pointer;}
.popmaskbox .mask_logo{width:90px; height:90px; position:absolute; left:195px; top:-65px;}
.popmaskbox .masktitle{width:245px; margin:0 auto 20px; text-align:center; color:#333; font-size:16px; line-height:25px;}
.popmaskbox .masktitle a{color:#f64133; text-decoration:underline; margin:0 3px;}
.popmaskbox .mask_info{width:318px; height:150px; margin:0 auto;}
.popmaskbox .mask_info .i_pic{width:146px; height:146px; border:#dbdbdb 1px solid; float:left; position:relative;}
.popmaskbox .mask_info .i_pic i{width:8px; height:12px; background:url(../../images/zhequ/maskicon.png) no-repeat; overflow:hidden; position:absolute; right:-7px; top:17px; z-index:10;}
.popmaskbox .mask_info .i_in{width:150px; height:146px; float:right;}
.popmaskbox .mask_info .i_in .tit{width:160px; height:22px; color:#333; font-size:19px; line-height:22px; font-weight:bold; overflow:hidden; margin:13px 0;}
.popmaskbox .mask_info .i_in .tet{width:160px; height:22px; color:#333; font-size:16px; line-height:20px; overflow:hidden;}
.popmaskbox .mask_info .i_in .tet i{color:#f64133; font-size:15px; line-height:20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; margin-left:3px;}
.popmaskbox .mask_info .i_in .go_btn a{
    width:150px;
    height:40px;
    color:#fff;
    font-size:14px;
    line-height:40px;
    overflow:hidden;
    text-align:center;
    background: #ff2726;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4e3d), color-stop(1, #ff2726));
    background:-moz-linear-gradient(left, #ff4e3d, #ff2726);
    background: -ms-linear-gradient(left, #ff4e3d, #ff2726);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e3d', endColorstr='#ff2726', GradientType=0);
    display:block;
    border-radius:5px;
    margin-top:15px;}
.popmaskbox .mask_info .i_in .checkinfo{width:150px; height:22px; color:#999; line-height:22px; overflow:hidden; margin-top:20px;}


.popmaskbox .mask_gift{width:425px; margin:0 auto;}
.popmaskbox .mask_gift .ma_gift_top{width:400px; margin-left:25px;}
.popmaskbox .mask_gift .ma_gift_top .top_layer{width:400px; height:20px; color:#333; font-size:14px; line-height:20px; overflow:hidden;}
.popmaskbox .mask_gift .ma_gift_top .top_layer i{width:4px; height:10px; background:#f64133; overflow:hidden; float:left; margin:5px 10px 0 0;}
.popmaskbox .mask_gift .ma_gift_top .gift_info{width:400px; height:110px; overflow:hidden; margin-bottom:10px;}
.popmaskbox .mask_gift .ma_gift_top .gift_info .i_pic{width:90px; height:90px; float:left; margin:10px 15px 0 0;}
.popmaskbox .mask_gift .ma_gift_top .gift_info .i_in{width:270px; height:90px; float:left; margin-top:15px;}
.popmaskbox .mask_gift .ma_gift_top .gift_info .i_in .i_tet{width:270px; color:#333; line-height:22px; font-size:14px;}
.popmaskbox .mask_gift .ma_gift_top .gift_info .i_in .i_jb{width:270px; height:30px; margin-top:10px; color:#333; line-height:22px; font-size:14px;}
.popmaskbox .mask_gift .ma_gift_top .gift_info .i_in .i_jb i{color:#f64133; line-height:30px; font-size:16px;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info{width:400px; position:relative;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_l{width:9px; height:205px; position:absolute; left:-25px; top:25px;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_l .l_sub{width:1px; height:205px; margin:0 auto; background:#dedede; position:relative;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_l .l_sub span{width:9px; height:205px; position:absolute; left:-4px;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_l .l_sub i{width:9px; height:9px; background:#f1f1f1; overflow:hidden; border-radius:9px; display:block; margin-bottom:40px;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_l .l_sub .cur{background-color:#f64133;}

.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r{width:400px;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r .con_info{width:398px; border:#dedede 1px solid; border-bottom:none; border-radius:5px; margin-top:10px;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r .con_info .i_layer{width:398px; border-bottom:#dedede 1px solid;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r .con_info .i_layer label{width:90px; height:48px; color:#333; font-size:14px; line-height:48px; padding-left:20px; float:left;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r .con_info .i_layer input{width:260px; height:48px; color:#ccc; font-size:14px; line-height:48px; padding-left:10px; border:none; background:none;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r .con_info .i_layer textarea{width:260px; height:50px; color:#ccc; font-size:14px; line-height:25px; padding-left:10px; border:none; background:none; margin:10px 0;}
.popmaskbox .mask_gift .ma_gift_top .consignee_info .con_r .btm_btn a{background:url(../../images/zhequ/member_btnbg.png) no-repeat; width:100px; height:30px; color:#fff; line-height:30px; text-align:center; font-size:14px; display:block; margin:20px 0 0 147px;}

.popmaskbox .mask_gift .ma_gift_top .selectbox{width:255px; height:18px; float:left; border:#dedede 1px solid; border-radius:3px; margin-top:15px; position:relative;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .se_put{width:245px; height:20px; color:#ccc; line-height:20px; margin-left:8px; background:url(../../images/zhequ/arrow_down.png) no-repeat 230px 8px;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box{display:none; background:#fff; border:#ccc 1px solid; width:255px; border-radius:2px; position:absolute; left: -1px; top: -1px;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_layer{width:255px; height:20px;cursor: pointer;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_layer li{width:84px; height:20px; border-bottom:#ccc 1px solid; border-right:#ccc 1px solid; float:left; text-align:center; background:#f0f0f0; color:#333; line-height:20px; text-align:center;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_layer .cur{background:#fff; border-bottom:none; color:#f64133;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_info {display:none; width:255px; max-height:300px; }
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .on{display:block; }
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_info .i_rows{width:255px; margin-top:10px;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_info .i_rows .r_zm{width:33px; padding-left:7px; color:#999; float:left; line-height:22px;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_info .i_rows .r_tet {margin-left: 40px;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_info .i_rows .r_tet i{margin:0 0 5px 0; padding:0 5px; background:#fff; display:inline-block; border-radius:3px;cursor: pointer;}
.popmaskbox .mask_gift .ma_gift_top .selectbox .sxs_box .sxs_info .i_rows .r_tet .cur2{background:#f64133; color:#fff;}


.nonebox{width:230px; margin:0 auto;}
.nonebox .none_text{width:230px; color:#333; font-size:16px; line-height:22px; text-align:center;}
.nonebox .none_text a{color:#f64133; text-decoration:underline;}
.nonebox .none_btn a{color:#fff; width:200px; height:40px; display:block; text-align:center; line-height:40px; font-size:14px; margin:35px auto 15px; background: #ff2726;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff4e3d), color-stop(1, #ff2726));
    background:-moz-linear-gradient(left, #ff4e3d, #ff2726);
    background: -ms-linear-gradient(left, #ff4e3d, #ff2726);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e3d', endColorstr='#ff2726', GradientType=0); border-radius:4px;}

.regular-checkbox{display: none;}
.regular-checkbox + .ch{background-color: #f5f5f5;border: 1px solid #bbb; padding:5px;border-radius: 2px;display: inline-block;position: relative; margin:4px 5px 0 0; float:left;}
.regular-checkbox:checked + .ch:after{content: '\2714';font-size: 12px; font-weight:bold; position: absolute; top:-6px;left:1px;color:#6ecc8d;}
/*end 弹窗*/










