
/* CSS Document */
.tbfl_m1 .m1_l{width:735px; height:380px; float:left; position:relative;}
.tbfl_m1 .m1_l .l_pic{width:735px; height:700px; position:absolute; left:0; top:0; z-index:5;}
.tbfl_m1 .m1_r{width:455px; float:left;}
.tbfl_m1 .m1_r .r_logo{width:150px; height:54px; margin:49px 0 18px;}
.tbfl_m1 .m1_r .r_tit{width:455px; height:60px; color:#f64133; font-size:42px; line-height:60px; font-weight:bold;}
.tbfl_m1 .m1_r .r_tet{width:400px; height:22px; color:#333; font-size:18px; line-height:22px; margin:30px 0 10px;}

.tbfl_m2{background-color:#ff5e56; height:488px;}
.tbfl_m2 .m2_box{position:relative; padding-top:410px;}
.tbfl_m2 .m2_box .sb{color:#fff; font-weight:bold; font-size:36px; width:450px; height:40px; margin-left:85px;}
.tbfl_m2 .m2_box .m2_btn{width:225px; position:absolute; top:50px; right:290px; z-index:999;}
.tbfl_m2 .m2_box .m2_btn a{width:222px; height:50px; float:left; background-color:#f94c41; border:#fd584f 6px solid; border-radius:50px; display:block; color:#fff; font-size:22px; line-height:50px; margin-right:25px; margin-bottom:20px;}
.tbfl_m2 .m2_box .m2_btn a i{background:url(../../images/zhequ/and_icon.png) no-repeat; width:33px; height:36px; float:left; margin:7px 8px 0 18px;}
.tbfl_m2 .m2_box .m2_btn a em{background:url(../../images/zhequ/ios_icon.png) no-repeat; width:29px; height:34px; float:left; margin:8px 10px 0 48px;}
.tbfl_m2 .m2_box .m2_ss{width:225px; height:160px; position:absolute; right:10px; top:50px;}

.tbfl_m3 .m3_l{width:570px; height:495px; float:left; margin-left:85px;}
.tbfl_m3 .m3_l .l_top{width:570px; height:110px; margin:30px 0 10px;}
.tbfl_m3 .m3_l .l_top .p_pic{width:85px; height:85px; float:left; margin-right:10px;}
.tbfl_m3 .m3_l .l_top .p_in{width:470px; height:85px; float:left;}
.tbfl_m3 .m3_l .l_top .p_in .i_num{width:470px; height:45px; color:#f25a45; font-size:42px; font-family:Impact;line-height:45px;}
.tbfl_m3 .m3_l .l_top .p_in .i_tit{width:470px; height:40px; color:#f25a45; font-size:36px; line-height:40px;}
.tbfl_m3 .m3_l .l_text{width:510px; color:#999; font-size:24px; line-height:30px;}
.tbfl_m3 .m3_r{width:485px; height:495px; position:relative; float:right;}
.tbfl_m3 .m3_r .r_pic{width:485px; height:660px; position:absolute; left:0; bottom:2px;}

.tbfl_m4{background-color:#fff; height:680px;}
.tbfl_m4 .m4_l{width:485px; height:680px;}
.tbfl_m4 .m4_r{width:570px; height:530px; margin:150px 0 0 55px;}
.tbfl_m4 .m4_r .r_top{width:570px; height:100px; margin:30px 0 10px;}
.tbfl_m4 .m4_r .r_top .p_pic{width:85px; height:85px; float:left; margin-right:10px;}
.tbfl_m4 .m4_r .r_top .p_in{width:470px; height:85px; float:left;}
.tbfl_m4 .m4_r .r_top .p_in .i_num{width:470px; height:45px; color:#f25a45; font-size:42px; font-family:Impact;line-height:45px;}
.tbfl_m4 .m4_r .r_top .p_in .i_tit{width:470px; height:40px; color:#f25a45; font-size:36px; line-height:40px;}
.tbfl_m4 .m4_r .l_text{width:510px; color:#999; font-size:24px; line-height:30px;} 
.tbfl_m5{background-color:#fafafa; height:680px;}
.tbfl_m5 .tbfl_m4{background-color:#fafafa; height:680px;}

 

