<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bt.om.mapper.AdSystemPushMapper">
  <resultMap id="BaseResultMap" type="com.bt.om.entity.AdSystemPush">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <resultMap id="ExtResultMap" extends="BaseResultMap" type="com.bt.om.entity.vo.AdSystemPushVo">
  	<result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type,user_id,title, content,activity_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ad_system_push
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.bt.om.entity.AdSystemPush">
    insert into ad_system_push (
    <include refid="Base_Column_List"></include>
    )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{activityName,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.bt.om.entity.AdSystemPush">
        <!-- WARNING - @mbggenerated This element is automatically generated by
            MyBatis Generator, do not modify. This element was generated on Sat Jan 20
            10:48:02 CST 2018. -->
        insert into ad_system_push
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="activityName != null">
                activity_name,
            </if>
            <if test="createTime != null">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="activityName != null">
                #{activityName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
  <select id="getPageCount" parameterType="map" resultType="java.lang.Integer">
		select
		count(1)
		from ad_system_push a
		left join sys_user_execute b on a.user_id=b.id
		where 1=1
		<if test="username != null" >
	        and b.username like #{username,jdbcType=VARCHAR}
	    </if>
	    <if test="type != null">
        	and a.type = #{type,jdbcType=VARCHAR} 
      	</if>
      	<if test="userId != null">
      		and a.user_id = #{userId,jdbcType=INTEGER}
      	</if>
      	<if test="title != null"> 
        	and a.title =#{title,jdbcType=VARCHAR} 
      	</if>
      	<if test="content != null"> 
        	and a.content like #{content,jdbcType=VARCHAR} 
      	</if>
      	<if test="activityName != null"> 
        	and a.activity_name = #{activityName,jdbcType=VARCHAR} 
      	</if>
         <if test="createTime != null" >
      		and a.create_time &lt;=  DATE_FORMAT(#{createTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    	</if>
		order by a.create_time desc
	</select>

	<select id="getPageData" parameterType="map" resultMap="ExtResultMap">
		select
			a.id,
			a.user_id userId,
			a.title,
			a.type,
			a.content,
			a.activity_name,
			a.create_time, 
			b.username username
		from ad_system_push a
		left join sys_user_execute b on a.user_id=b.id
		where 1=1
		<if test="username != null" >
	        and b.username like #{username,jdbcType=VARCHAR}
	    </if>
	    <if test="type != null">
        	and a.type = #{type,jdbcType=VARCHAR} 
      	</if>
      	<if test="userId != null">
      		and a.user_id = #{userId,jdbcType=INTEGER}
      	</if>
      	<if test="title != null"> 
        	and a.title =#{title,jdbcType=VARCHAR} 
      	</if>
      	<if test="content != null"> 
        	and a.content like #{content,jdbcType=VARCHAR} 
      	</if>
      	<if test="activityName != null"> 
        	and a.activity_name = #{activityName,jdbcType=VARCHAR} 
      	</if>
         <if test="createTime != null" >
      		and a.create_time &lt;=  DATE_FORMAT(#{createTime,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    	</if>
		order by create_time desc
	</select>
	
</mapper>